<div>
    <div>
        <a href="https://iconscout.com/icons/github" class="text-underline font-size-sm" target="_blank">github</a> by <a href="https://iconscout.com/contributors/unicons" class="text-underline font-size-sm">Unicons Font</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>
    </div>
    <div>
        <a href="https://iconscout.com/icons/linkedin" class="text-underline font-size-sm" target="_blank">linkedin</a> by <a href="https://iconscout.com/contributors/unicons" class="text-underline font-size-sm">Unicons Font</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>
    </div>
    <div>
        <a href="https://iconscout.com/icons/resume" class="text-underline font-size-sm" target="_blank">Resume</a> by <a href="https://iconscout.com/contributors/iconscout" class="text-underline font-size-sm" target="_blank">IconScout Store</a>
    </div>
    <div>
        <a href="https://iconscout.com/icons/copy" class="text-underline font-size-sm" target="_blank">Copy</a> by <a href="https://iconscout.com/contributors/jemismali" class="text-underline font-size-sm">Jemis Mali</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>
    </div>
    <div>
        <a href="https://iconscout.com/3d-illustrations/development" class="text-underline font-size-sm" target="_blank">Development</a> by <a href="https://iconscout.com/contributors/illustraly" class="text-underline font-size-sm">Illustraly Design</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>
    </div>
    <div>
        Icons by <a href="icons8.com">icons8.com</a>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>